<?xml version='1.0' encoding='utf-8'?>
<widget id="com.maxxdjradiomexico" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  
  <name>MAxxDjRadio</name>
    <description>
        Aplicación para dispositivos moviles MAxxDjRadio.
    </description>
    <author email="rodrigo@reactivoestudio.com" href="http://www.reactivoestudio.com">
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="fullscreen" value="false" />
    <preference name="orientation" value="portrait" />
    <preference name="ShowTitle" value="false"/>
    
    <feature name="http://api.phonegap.com/1.0/geolocation"/>

    <!-- PLATFORM ANDROID -->
        
        <gap:plugin name="org.apache.cordova.device" />


        <preference name="ShowTitle" value="false"/>

        <feature name="InAppBrowser">
            <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
        </feature>


    <!-- PLATFORM IOS -->


        <feature name="Geolocation">
            <param name="ios-package" value="CDVLocation" />
        </feature>


        <feature name="InAppBrowser">
            <param name="ios-package" value="CDVInAppBrowser" />
        </feature>
    
</widget>
