@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?yoiv7e');
	src:url('icomoon.eot?#iefixyoiv7e') format('embedded-opentype'),
		url('icomoon.woff?yoiv7e') format('woff'),
		url('icomoon.ttf?yoiv7e') format('truetype'),
		url('icomoon.svg?yoiv7e#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE600maxx:before {
	content: "\e600";
}

.icon-canales_Amaxx:before {
	content: "\e601";
}

.icon-cerrarmaxx:before {
	content: "\e602";
}

.icon-contactmaxx:before {
	content: "\e603";
}

.icon-downloadmaxx:before {
	content: "\e604";
}

.icon-e_shopmaxx:before {
	content: "\e605";
}

.icon-eventosmaxx:before {
	content: "\e606";
}

.icon-facbkmaxx:before {
	content: "\e607";
}

.icon-favoritesmaxx:before {
	content: "\e608";
}

.icon-gallerymaxx:before {
	content: "\e609";
}

.icon-infomaxx:before {
	content: "\e60a";
}

.icon-instanmaxx:before {
	content: "\e60b";
}

.icon-itunes-beatportmaxx:before {
	content: "\e60c";
}

.icon-last10songsmaxx:before {
	content: "\e60d";
}

.icon-partnersmaxx:before {
	content: "\e60e";
}

.icon-pausemaxx:before {
	content: "\e60f";
}

.icon-playmaxx:before {
	content: "\e610";
}

.icon-podcastmaxx:before {
	content: "\e611";
}

.icon-radio_showmaxx:before {
	content: "\e612";
}

.icon-sharemaxx:before {
	content: "\e613";
}

.icon-siguientemaxx:before {
	content: "\e614";
}

.icon-socialmediamaxx:before {
	content: "\e615";
}

.icon-soundcloudmaxx:before {
	content: "\e616";
}

.icon-soundmixmaxx:before {
	content: "\e617";
}

.icon-StepBackmaxx:before {
	content: "\e618";
}

.icon-StepForwmaxx:before {
	content: "\e619";
}

.icon-twittermaxx:before {
	content: "\e61a";
}

.icon-volumenmaxx:before {
	content: "\e61b";
}

.icon-websitesmaxx:before {
	content: "\e61c";
}

.icon-youtubemaxx:before {
	content: "\e61d";
}

